/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* All */
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
	header, main, footer {
	    padding-left: 0;
	}
}


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}



/* Menu */
ul.side-nav.fixed ul.collapsible-accordion .collapsible-body li a {
    font-weight: 400;
    padding: 0 37.5px 0 45px;
}

ul.side-nav.fixed li {
    line-height: 44px;
}

ul.side-nav.fixed li a {
    font-size: 13px;
    line-height: 44px;
    height: 44px;
    padding: 0 30px;
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 30px;
}

/* Main */
@media only screen and (min-width: 993px) {
	.container {
	    width: 85%;
	}
}