{% extends 'base.html' %}
{% load groups %}

{% block page_name %}Infos utilisateur{% endblock %}

{% block content %}

<h2 class="header amber-text">Infos utilisateur</h2>
<div class="row">
  <h5 class="header col s12 light">Ces informations proviennent du portail des assos et de Ginger</h5>
</div>

<div class="row">
  <h4 class="header col s12">Détails</h4>
  <ul>
    <li>Login : {{ user.login }}</li>
    <li>Prénom : {{ user.first_name|capfirst }}</li>
    <li>Nom : {{ user.last_name|capfirst }}</li>
    <li>Email : {{ user.email }}</li>
    <li>Type d'utilisateur : {{ user.usertype.name }}</li>
    <li>Actif : {% if user.is_active %}Oui{% else %}Non{% endif %}</li>
    <li>Administrateur : {% if user.is_admin %}Oui{% else %}Non{% endif %}</li>
  </ul>
</div>

<div class="row">
  <h4 class="header col s12">Groupes</h4>
  {% if user.groups.all %}
    {% for group in user.groups.all %}
      <div class="chip">
        {{ group }}
      </div>
    {% endfor %}
  {% else %}
    Tu n'est affecté à aucun groupe
  {% endif %}
</div>

<div class="row">
  <h4 class="header col s12">Roles</h4>
  {% if user.roles.all %}
    {% for role in user.roles.all %}
      <div class="chip">
        {{ role.asso }} : {{ role.get_role_display }}
      </div>
    {% endfor %}
  {% else %}
    Tu n'as visiblement aucun rôle dans une asso !
  {% endif %}
</div>

{% endblock %}