/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* All */
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
	header, main, footer {
	    padding-left: 0;
	}
}


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}



/* Menu */
ul.side-nav.fixed ul.collapsible-accordion .collapsible-body li a {
    font-weight: 400;
    padding: 0 37.5px 0 45px;
}

ul.side-nav.fixed li {
    line-height: 44px;
}

ul.side-nav.fixed li a {
    font-size: 13px;
    line-height: 44px;
    height: 44px;
    padding: 0 30px;
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 30px;
}


/* Logo */
.logo {
	margin-top: 44px;
	margin-bottom: 44px;
}

#logo-container {
	margin: auto;
	height: 70px;
	line-height: 70px;
}

#front-page-logo {
	display: inline-block;
	height: 100%;
	pointer-events: none;
}

ul.side-nav.fixed li.logo {
    text-align: center;
}

ul.side-nav.fixed li.logo:hover, ul.side-nav.fixed li.logo #logo-container:hover {
    background-color: transparent;
}

#nav-mobile > li:last-child {
    margin-bottom: 88px;
}

/* Main */
@media only screen and (min-width: 993px) {
	.container {
	    width: 85%;
	}
}

.align-right {
	text-align: right;
}



li.collection-item.expandable {
	transition: all 0.3s ease-in-out;
	width: 100%;
	left: 0%;
	margin: 0em;
}

li.collection-item.expanded {
	margin-top: 1em;
	margin-bottom: 1em;
	left: -5%;
	width: 110%;
	border: 1px solid #e0e0e0;
	box-shadow: 0px 5px 10px #e0e0e0;
}

li.collection-item.expanded + li {
	border-top: 1px solid #e0e0e0;
}

ul.collection {
	overflow: visible;
}

li.collection-item.expandable > div {
	overflow: hidden;
	display: none;
	padding-top: 1em;
	padding-bottom: 1em;
}

.new-form {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0.5,0.5,0.5,0.1);
	z-index: 1000;
	display: flex;
	overflow: auto;
	padding-top: 2em;
	opacity: 0.01;
}

.new-form > .container {
	margin: auto;
}

.onlycol {
	float: none !important; /* center */
	margin: auto;
}


@media screen and (min-width: 961px) {
	.new-form-container {
		margin: auto;
		padding: 1em 4em;
		max-height: 96%;
		position: relative;
		background: #fff;
		box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
		border-radius: 0.3em;
		overflow: hidden;
	}
}


/* TODO: make this for mobile */
.messages {
	position: absolute;
	float: right;
	padding: 1em;
	right: 0;
	top: 64px;
	z-index: 10;
	text-align: right;
}

.messages div {
	background: rgb(97, 97, 97);
	border-radius: 0.5em;
	margin-bottom: 1em;
	padding: 1em;
	max-width: 20em;
	position: relative;
	right: -25em;
	color: white;
	box-shadow: 0px 5px 10px #8d8d8d;
	transition: all 0.3s ease-in-out;
}

body {
	overflow-x: hidden;
}

.messages .visible {
	right: 0em;
}

.messages .error {
	background: #b71c1c;
}

.messages .debug {
	background: #2196f3;
}

.messages .info {
	/* use default color */
}

.messages .success {
	background: #8bc34a;
}

.messages .warning {
	background: #ff9800;
}

.errorlist li {
	color: #b71c1c;
}

/* Hidden so that Materialize still find it */
.hidden-form {
	display: inline;
	overflow: hidden;
	width: 0px;
	height: 0px;
	position: absolute;
}

nav a i.material-icons {
	display: inline;
	vertical-align: bottom;
}